# PostgreSQL
POSTGRESPSW=your_postgres_password
DB_HOST=localhost
DB_PORT=5433
DB_NAME=WZE-Symmetry-Planner
DB_USER=postgres

# JWT
JWT_SECRET=Kgq3FzEmR1zCo9DqV5zVMKViul321s1LqJzdNWNJjz4=
JWT_ISSUER=wze-api
JWT_AUDIENCE=wze-front

# CORS (comma-separated)
ALLOWED_ORIGINS=http://localhost:3000

# Frontend (Nuxt)
NUXT_PUBLIC_API_BASE=https://localhost:7095/api
NUXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_oauth_client_id
